<!DOCTYPE html>
<html>
  
  <head>
    <title>First app!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>

  <!-- This is the module specified here -->
  <body ng-app="myModule">

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
      
      <div class="text-center">
        <h1>Some examples of Bootstrap and AngularJS starter template</h1>
        <p class="lead">
          Use this document as... Do not use it, it is Mauricio's!
          <br> 
          All you get is this text and a mostly barebones HTML document.
        </p>
      </div>


      <hr/>

      <!-- This is the rest controller -->
      <div ng-controller="RestController">
        <h3>REST EXAMPLE</h3>
        <p>This example will make a REST GET request and display data received.</p>
        <div class="well">
          <p>The ID is {{greeting.id}}</p>
          <p>The content is {{greeting.content}}</p>
        </div>
      </div>
    
      <hr/>
      
      <!-- ng-controller specifies a controller, which is bound to a scope -->
      <!-- a scope and its properties can be modified from a controllers constructor -->
      <!-- a scope and its properties can be accessed from the DOM (html) -->
      <div ng-controller="FilterController">
        <h3>FILTER EXAMPLE</h3>
        <p>This example will show some filtering features provided by AngularJS</p>
        <div class="well">
          <p>Start by inserting a filter: </p>
          <input class="form-control" type="text" ng-model="filterString"/>
          <br/> 
          <p>The results are:</p>
          <ul>
            <li ng-repeat="cust in customers | filter:filterString">
              {{cust.name}} (from {{cust.city}})
            </li>
          </ul>
        </div>
      </div> 
    </div><!-- /.container -->

    <!-- bootstrap.min.js 3.3.4 -->
    <script src="js/bootstrap.min.js"></script>   
    <!-- angular.min.js 1.2.26 -->
    <script src="js/angular.min.js"></script>
    <!-- custom script -->
    <script src="js/script.js"></script>
        
  </body>

</html>